# Copyright (C) 2025  AGH University of Science and Technology
# MTM UEC2
# Author: Piotr Kaczmarczyk
#
# Description:
# List of files and directories not to be tracked by git.
# They will be removed when cleaning the project directory.

# Ignorowanie plików generowanych przez środowisko Vivado
fpga/build
fpga/.Xil
fpga/vivado*
fpga/xvlog*
fpga/xelab*
fpga/xsim*
fpga/.hbs

sim/build
sim/.Xil
sim/vivado*
sim/axsim.sh
sim/webtalk*
sim/xvlog*
sim/xelab*
sim/xsim*
sim/*.wdb
sim/.hbs

vivado*
xvlog*
xelab*
xsim*

dvt_build.log
.dvt/

xcelium.d
xrun.log

results/*
!results/*.bit
!results/warning_summary.log

tools/audio_in/


#KICAD
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*.lck
*.net
*.dsn
*.ses
*.xml
*.csv

#System generatared files
.DS_Store

